
<a-scene>

  <a-assets>
    <a-asset-item id="micOn" src="assets/models/mic_on.glb"></a-asset-item>
    <a-asset-item id="micOff" src="assets/models/mic_off.glb"></a-asset-item>
    <a-asset-item id="girl" src="assets/models/assistant/girl_obj.glb"></a-asset-item>

    <img id="sky" src="assets/backgrounds/background.jpg">

  </a-assets>

  <!---->
  <a-sky src="#sky"></a-sky>

  <a-entity gltf-model="#girl"
  *ngIf="isDataReady"
  scale="4 4 4"
  position="0 1 -3"
  rotation="0 -3 0"
  crossOrigin="anonymous"
  ></a-entity>

  <a-entity gltf-model="#micOn"
  *ngIf="isDataReady && isSpeaking"
  scale="0.4 0.4 0.4"
  position="-0.5 0.4 -1"
  crossOrigin="anonymous"
  (click)="stopRecognition()"
  ></a-entity>

  <a-entity gltf-model="#micOff"
  *ngIf="isDataReady && !isSpeaking"
  scale="0.4 0.4 0.4"
  position="-0.5 0.4 -1"
  crossOrigin="anonymous"
  (click)="startRecognition()"
  ></a-entity>

  <a-plane position="0 0 0" rotation="-90 0 0"
  width="1" height="1" color="#666666"></a-plane>

  <a-entity position="3 2 0" rotation="0 270 0" (click)="salir()">
    <a-box color="red" scale="0.5 0.5 0.5"></a-box>
    <a-text value="Salir" color="white" scale="0.5 0.5 0.5" align="center"
    rotation="0 0 0"
    position="0 0 0.3"></a-text>
  </a-entity>

  <a-camera><a-cursor></a-cursor></a-camera>
</a-scene>

<!--
<audio controls *ngIf="audioBlobUrl !== ''">
  <source [src]="audioBlobUrl" type="audio/mpeg">
  Tu navegador no soporta la reproducción de audio.
</audio>

<button (click)="startRecognition()">Reconocer</button>
<button (click)="stopRecognition()">Pausar reconocer</button>
-->
