
<!--
<a-scene class="scene" background="color: #0c2a63ec">

  <a-entity position="4 4 0" (click)="salir()">
    <a-box color="red" scale="0.5 0.5 0.5"></a-box>
    <a-text value="Salir" color="blue" scale="0.5 0.5 0.5" align="center" position="0 0 1"></a-text>
  </a-entity>

  <a-entity position="0 1.5 -3" (click)="interactuar()">
    <a-box color="blue" scale="0.5 0.5 0.5"></a-box>
    <a-text value="Hablar" color="white" scale="0.5 0.5 0.5" align="center" position="0 0 1"></a-text>
  </a-entity>

  <a-camera><a-cursor></a-cursor></a-camera>
</a-scene>
-->

<audio controls *ngIf="audioBlobUrl !== ''">
  <source [src]="audioBlobUrl" type="audio/mpeg">
  Tu navegador no soporta la reproducción de audio.
</audio>

<button (click)="startRecognition()">Reconocer</button>
<button (click)="stopRecognition()">Pausar reconocer</button>
